#deleteEventSearch{

    .deleteEventSearch-wrapper{
        display:flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1em;

        h2{
            margin-bottom: 0;
        }
    }
}