#rsvpEvent{

    #rsvpEventForm{
        display: flex;
        flex-flow:column;


        .rsvpHeader{
            display: flex;
            align-items: center;
            justify-content: space-between;

            h4{
                margin-bottom: 0em;
            }

            p{
                margin-bottom: 0em;
                color: #9A9A9A;
                font-size: .8em;
            }

        }
    }

    #classIsFullMessage{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        h4{
            text-transform: uppercase;
        }
    }
}