#createEventForm{
    display: flex;
    flex-flow: column;

    .date{

        .react-datepicker-wrapper{
            width:100%;
        }

        input{
            width:100%;

        }
        label{
            display: block;
        }
    }
}